/* ==========================================================================
   Wrapper defaults
   ========================================================================== */

.gform_wrapper {
    padding-top: 30px;
    margin-bottom: 20px;
    clear: both;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .gform_heading {
        margin-bottom: 20px;
    }

    .gform_fields {
        list-style: none !important;
        padding: 0 !important;
        margin: 0 !important;
        line-height: 1em !important;
        text-align: left;
        transition: .5s all ease;

        .gfield {
            list-style: none;
            margin-bottom: 20px;
            clear: both;
            transition: .5s all ease;
            padding: 0;

            label {
                line-height: 1em;
                margin-bottom: 5px;
                display: block;
            }
        }
    }

    .gform_validation_container {
        display: none;
    }
}

/* ==========================================================================
   Input, textarea, select defaults
   ========================================================================== */

.gform_wrapper {
    input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="submit"]) {
        padding: 0 0 0 15px;
    }

    input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="submit"]),
    textarea,
    select {
        width: 100%;
        height: 45px;
        padding-left: 15px;
        font-size: 1em;
        transition: .5s all ease;
    }

    select {
        option {
            padding-left: 15px;
        }
    }

    textarea {
        padding: 15px;
        height: 90px;
    }

    .gform_footer input[type="submit"] {
        width: auto;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
    }

    .gform_ajax_spinner {
        display: none;
    }
}

/* ==========================================================================
   Upload
   ========================================================================== */

.gform_wrapper {
    .gform_drop_area {
        border: 4px dashed rgba(gray, 0.5);
        background: rgba(gray, 0.2);
        border-radius: 10px;
        padding: 20px;
        text-align: center;
    }

    .gform_wrapper .gform_button_select_files {
        margin-left: 10px;

        @include mobile {
            display: block;
            margin: 10px auto 0;
            text-align: center !important;
        }
    }
}

/* ==========================================================================
   Sections
   ========================================================================== */

.gform_wrapper {
    .gsection {
        padding: 30px 0 15px !important;
        margin: 0 !important;
    }
}

/* ==========================================================================
   Radio and checkboxes
   ========================================================================== */

.gform_wrapper {
    .gfield_radio,
    .gfield_checkbox {
        list-style: none !important;
        padding: 5px 0 0 !important;
        margin: 0 !important;
        line-height: 1.2em !important;

        > li {
            list-style: none;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 20px;

            input,
            label {
                flex: 0 1 auto;
            }

            label {
                display: block;
                margin-bottom: 0 !important;
                line-height: 1.2em !important;
            }

            input {
                margin-right: 5px;
                left: 0;
                top: 0;
                position: absolute;
            }
        }
    }
}

/* ==========================================================================
   Names
   ========================================================================== */

@include notmobile {
    .gfield {
        clear: both;

        .has_first_name.no_middle_name.has_last_name {
            clear: both;
            display: block;
            float: left;
            margin-bottom: 10px;
            width: 100%;

            span.name_first {
                display: block;
                float: left;
                width: calc( 100% / 2 - 5px );
                margin-right: 5px;
                clear: left !important;
            }

            span.name_last {
                display: block;
                float: left;
                width: calc( 100% / 2 - 5px );
                margin-left: 5px;
                clear: right !important;
            }
        }
    }
}


@include mobile {
    .gfield {
        .has_first_name.no_middle_name.has_last_name {
            span.name_first {
                margin-bottom: 10px;
                display: block;
            }
        }
    }
}


/* ==========================================================================
   Hidden fields
   ========================================================================== */

.gfield_visibility_hidden {
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}