/* ==========================================================================
   Sizing
   ========================================================================== */

.gform_wrapper {
    textarea {
        &.textarea.small {
            height: 90px;
        }

        &.textarea.medium {
            height: 150px;
        }

        &.textarea.large {
            height: 300px;
        }
    }
}

/* ==========================================================================
   Halves
   ========================================================================== */

@include notmobile {

    .gfield.gf_left_half,
    .ginput_left {
        float: left;
        width: calc(100% / 2 - 5px);
        margin-right: 5px;
        clear: left !important;

        // &.hidden-label {
        //     width: calc( 100% / 2 - 5px );
        //     margin-left: 5px;
        // }

    }

    .gfield.gf_right_half,
    .ginput_right {
        float: left;
        width: calc(100% / 2 - 5px);
        margin-left: 5px;
        clear: right !important;

        // &.hidden-label {
        //     width: calc( 100% / 2 - 5px );
        //     margin-right: 5px;
        // }

    }
}


/* ==========================================================================
   Thirds
   ========================================================================== */

@include notmobile {
    .gfield.gf_left_third {
        float: left;
        width: calc(100% / 3 - 10px);
        margin-right: 10px;
        clear: left !important;
    }

    .gfield.gf_middle_third {
        float: left;
        width: calc(100% / 3 - 20px);
        margin-left: 10px;
        margin-right: 10px;
        clear: none !important;
    }

    .gfield.gf_right_third {
        float: left;
        width: calc(100% / 3 - 10px);
        margin-left: 10px;
        clear: right !important;
    }
}


/* ==========================================================================
   List inline
   ========================================================================== */

@include notmobile {
    .gform_wrapper {
        .gfield.gf_list_inline {

            ul.gfield_radio,
            ul.gfield_checkbox {
                >li {
                    display: inline-block;
                    margin: 0 15px 15px 0;

                    input {
                        margin: 0;
                    }

                    input,
                    label {
                        display: inline-block;
                    }
                }
            }
        }
    }
}