@include notmobile {
    .gfield {
        clear: both;

        .ginput_complex.ginput_container_password {
            clear: both;
            display: block;
            float: left;
            margin-bottom: 10px;
            width: 100%;

            span.ginput_left {
                display: block;
                float: left;
                width: calc( 100% / 2 - 5px );
                margin-right: 5px;
                clear: left !important;
            }

            span.ginput_right {
                display: block;
                float: left;
                width: calc( 100% / 2 - 5px );
                margin-left: 5px;
                clear: right !important;
            }
        }
    }
}


@include mobile {
    .gfield {
        .ginput_complex.ginput_container_password {
            span.ginput_left {
                margin-bottom: 10px;
                display: block;
            }
        }
    }
}
