.gform_wrapper {

    input,
    textarea {
        &:-webkit-input-placeholder {
            color: gray !important;
            opacity: 1 !important;
        }

        &::-moz-placeholder {
            color: gray !important;
            opacity: 1 !important;
        }

        &:-ms-input-placeholder {
            color: gray !important;
            opacity: 1 !important;
        }

        &:-moz-placeholder {
            color: gray !important;
            opacity: 1 !important;
        }

        &::placeholder {
            color: gray !important;
            opacity: 1 !important;
        }

        &:placeholder {
            color: gray !important;
            opacity: 1 !important;
        }
    }
}