.gform_wrapper {
    .validation_message,
    .validation_error {
        display: none;
    }

    .gfield_error {
        input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
        textarea,
        select {
            border: 5px solid red;
            padding-left: 10px;
        }
    }
}