/* ==========================================================================
   Colors
   ========================================================================== */

$black: #333333;
$default: gray;

/* ==========================================================================
   Queries
   ========================================================================== */

$mobile-width-section: 767px;
$tablet-width-section: 768px;
$desktop-width-section: 1200px;

@mixin mobile {
    @media (max-width: #{$mobile-width-section}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width-section}) and (max-width: #{$desktop-width-section - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width-section}) {
        @content;
    }
}

@mixin notmobile {
    @media (min-width: #{$tablet-width-section}) {
        @content;
    }
}

@mixin notdesktop {
    @media (max-width: #{$desktop-width-section}) {
        @content;
    }
}

/* ==========================================================================
   Includes
   ========================================================================== */

//* Main
@import "defaults";
@import "gf-style-ready-classes";
@import "placeholders";
@import "validation";
@import "hidden-labels";