/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Queries
   ========================================================================== */
/* ==========================================================================
   Includes
   ========================================================================== */
/* ==========================================================================
   Wrapper defaults
   ========================================================================== */
.gform_wrapper {
  padding-top: 30px;
  margin-bottom: 20px;
  clear: both; }
  .gform_wrapper:first-child {
    padding-top: 0; }
  .gform_wrapper:last-child {
    margin-bottom: 0; }
  .gform_wrapper .gform_heading {
    margin-bottom: 20px; }
  .gform_wrapper .gform_fields {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1em !important;
    text-align: left;
    transition: .5s all ease; }
    .gform_wrapper .gform_fields .gfield {
      list-style: none;
      margin-bottom: 20px;
      clear: both;
      transition: .5s all ease;
      padding: 0; }
      .gform_wrapper .gform_fields .gfield label {
        line-height: 1em;
        margin-bottom: 5px;
        display: block; }
  .gform_wrapper .gform_validation_container {
    display: none; }

/* ==========================================================================
   Input, textarea, select defaults
   ========================================================================== */
.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="submit"]) {
  padding: 0 0 0 15px; }

.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="submit"]),
.gform_wrapper textarea,
.gform_wrapper select {
  width: 100%;
  height: 45px;
  padding-left: 15px;
  font-size: 1em;
  transition: .5s all ease; }

.gform_wrapper select option {
  padding-left: 15px; }

.gform_wrapper textarea {
  padding: 15px;
  height: 90px; }

.gform_wrapper .gform_footer input[type="submit"] {
  width: auto;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px; }

.gform_wrapper .gform_ajax_spinner {
  display: none; }

/* ==========================================================================
   Upload
   ========================================================================== */
.gform_wrapper .gform_drop_area {
  border: 4px dashed rgba(128, 128, 128, 0.5);
  background: rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  padding: 20px;
  text-align: center; }

.gform_wrapper .gform_wrapper .gform_button_select_files {
  margin-left: 10px; }
  @media (max-width: 767px) {
    .gform_wrapper .gform_wrapper .gform_button_select_files {
      display: block;
      margin: 10px auto 0;
      text-align: center !important; } }

/* ==========================================================================
   Sections
   ========================================================================== */
.gform_wrapper .gsection {
  padding: 30px 0 15px !important;
  margin: 0 !important; }

/* ==========================================================================
   Radio and checkboxes
   ========================================================================== */
.gform_wrapper .gfield_radio,
.gform_wrapper .gfield_checkbox {
  list-style: none !important;
  padding: 5px 0 0 !important;
  margin: 0 !important;
  line-height: 1.2em !important; }
  .gform_wrapper .gfield_radio > li,
  .gform_wrapper .gfield_checkbox > li {
    list-style: none;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px; }
    .gform_wrapper .gfield_radio > li input,
    .gform_wrapper .gfield_radio > li label,
    .gform_wrapper .gfield_checkbox > li input,
    .gform_wrapper .gfield_checkbox > li label {
      flex: 0 1 auto; }
    .gform_wrapper .gfield_radio > li label,
    .gform_wrapper .gfield_checkbox > li label {
      display: block;
      margin-bottom: 0 !important;
      line-height: 1.2em !important; }
    .gform_wrapper .gfield_radio > li input,
    .gform_wrapper .gfield_checkbox > li input {
      margin-right: 5px;
      left: 0;
      top: 0;
      position: absolute; }

/* ==========================================================================
   Names
   ========================================================================== */
@media (min-width: 768px) {
  .gfield {
    clear: both; }
    .gfield .has_first_name.no_middle_name.has_last_name {
      clear: both;
      display: block;
      float: left;
      margin-bottom: 10px;
      width: 100%; }
      .gfield .has_first_name.no_middle_name.has_last_name span.name_first {
        display: block;
        float: left;
        width: calc( 100% / 2 - 5px);
        margin-right: 5px;
        clear: left !important; }
      .gfield .has_first_name.no_middle_name.has_last_name span.name_last {
        display: block;
        float: left;
        width: calc( 100% / 2 - 5px);
        margin-left: 5px;
        clear: right !important; } }

@media (max-width: 767px) {
  .gfield .has_first_name.no_middle_name.has_last_name span.name_first {
    margin-bottom: 10px;
    display: block; } }

/* ==========================================================================
   Hidden fields
   ========================================================================== */
.gfield_visibility_hidden {
  visibility: hidden !important;
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important; }

/* ==========================================================================
   Sizing
   ========================================================================== */
.gform_wrapper textarea.textarea.small {
  height: 90px; }

.gform_wrapper textarea.textarea.medium {
  height: 150px; }

.gform_wrapper textarea.textarea.large {
  height: 300px; }

/* ==========================================================================
   Halves
   ========================================================================== */
@media (min-width: 768px) {
  .gfield.gf_left_half {
    float: left;
    width: calc( 100% / 2 - 5px);
    margin-right: 5px;
    clear: left !important; }
  .gfield.gf_right_half {
    float: left;
    width: calc( 100% / 2 - 5px);
    margin-left: 5px;
    clear: right !important; } }

/* ==========================================================================
   Thirds
   ========================================================================== */
@media (min-width: 768px) {
  .gfield.gf_left_third {
    float: left;
    width: calc( 100% / 3 - 10px);
    margin-right: 10px;
    clear: left !important; }
  .gfield.gf_middle_third {
    float: left;
    width: calc( 100% / 3 - 20px);
    margin-left: 10px;
    margin-right: 10px;
    clear: none !important; }
  .gfield.gf_right_third {
    float: left;
    width: calc( 100% / 3 - 10px);
    margin-left: 10px;
    clear: right !important; } }

/* ==========================================================================
   List inline
   ========================================================================== */
@media (min-width: 768px) {
  .gform_wrapper .gfield.gf_list_inline ul.gfield_radio > li,
  .gform_wrapper .gfield.gf_list_inline ul.gfield_checkbox > li {
    display: inline-block;
    margin: 0 15px 15px 0; }
    .gform_wrapper .gfield.gf_list_inline ul.gfield_radio > li input,
    .gform_wrapper .gfield.gf_list_inline ul.gfield_checkbox > li input {
      margin: 0; }
    .gform_wrapper .gfield.gf_list_inline ul.gfield_radio > li input,
    .gform_wrapper .gfield.gf_list_inline ul.gfield_radio > li label,
    .gform_wrapper .gfield.gf_list_inline ul.gfield_checkbox > li input,
    .gform_wrapper .gfield.gf_list_inline ul.gfield_checkbox > li label {
      display: inline-block; } }

/* ==========================================================================
   Horizontal forms
   ========================================================================== */
.gform_wrapper.gf_simple_horizontal_wrapper {
  margin-top: 0;
  padding-top: 0; }
  @media (min-width: 768px) {
    .gform_wrapper.gf_simple_horizontal_wrapper form.gf_simple_horizontal {
      display: grid;
      grid-template-columns: auto 200px;
      align-items: center;
      grid-column-gap: 10px; }
      .gform_wrapper.gf_simple_horizontal_wrapper form.gf_simple_horizontal .gform_heading {
        grid-column: span 2; }
      .gform_wrapper.gf_simple_horizontal_wrapper form.gf_simple_horizontal .gform_body {
        width: 100%; }
        .gform_wrapper.gf_simple_horizontal_wrapper form.gf_simple_horizontal .gform_body .gform_fields {
          display: flex; }
        .gform_wrapper.gf_simple_horizontal_wrapper form.gf_simple_horizontal .gform_body .gfield {
          flex: 0 1 auto;
          clear: none;
          float: none;
          padding: 0 5px;
          width: 100%;
          margin-bottom: 0 !important; }
      .gform_wrapper.gf_simple_horizontal_wrapper form.gf_simple_horizontal .gform_footer input[type="submit"] {
        width: 100%; } }

.gform_wrapper input:-webkit-input-placeholder,
.gform_wrapper textarea:-webkit-input-placeholder {
  color: gray !important;
  opacity: 1 !important; }

.gform_wrapper input::-moz-placeholder,
.gform_wrapper textarea::-moz-placeholder {
  color: gray !important;
  opacity: 1 !important; }

.gform_wrapper input:-ms-input-placeholder,
.gform_wrapper textarea:-ms-input-placeholder {
  color: gray !important;
  opacity: 1 !important; }

.gform_wrapper input:-moz-placeholder,
.gform_wrapper textarea:-moz-placeholder {
  color: gray !important;
  opacity: 1 !important; }

.gform_wrapper input::placeholder,
.gform_wrapper textarea::placeholder {
  color: gray !important;
  opacity: 1 !important; }

.gform_wrapper input:placeholder,
.gform_wrapper textarea:placeholder {
  color: gray !important;
  opacity: 1 !important; }

.gform_wrapper .validation_message,
.gform_wrapper .validation_error {
  display: none; }

.gform_wrapper .gfield_error input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
.gform_wrapper .gfield_error textarea,
.gform_wrapper .gfield_error select {
  border: 5px solid red !important;
  padding-left: 10px !important; }

.gform_wrapper .gfield_error ul.gfield_checkbox label {
  color: red !important; }

body .gform_wrapper .gform_fields .gfield.hidden_label {
  margin-bottom: 10px; }
  body .gform_wrapper .gform_fields .gfield.hidden_label > label {
    display: none !important; }
